/* Container for the entire page */
.main-page-container {
    text-align: center; /* Center-align the content */
    padding-top: 50px; /* Add padding to the top */
    max-width: 1400px; /* Increase the width */
    margin: 0 auto; /* Center horizontally */
}

/* Style for the header */
.main-page-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}