/* OpinionPage.css */

  .debate-topic-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  .debate-topic {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .input-textarea {
    width: 100%;
    height: 150px;
    resize: none;
  }
  
  .submit-button {
    display: block;
    margin: 20px auto;
  }

  .initial-opinion-diagram {
    max-width: 1000px;
  }